:root{
    --background-color:white;
    --second-background-color:#263374;
    --button-color:black;
    --second-button:red;
    --underline: rgb(209, 209, 209,0.2) 2px solid;
}

/* ************************************************** nav */
nav  {
position: fixed;
display: flex;
/*flex: 1 1 150px;   
flex: 0 1 150px; /*  No stretching: */
justify-content: space-between;
background-color: var(--background-color);
top: 0;
margin:0px -8px ;
width: 100%;
padding: 0 -3px;
flex-direction: row;
flex-wrap: wrap;

}
nav ul {
    list-style: none;
	display: flex;
	/*font-size: 2vw 18px*/;
  padding: 0 10px;
}
nav li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: clamp(14px, 2.0vw, 20px);   
    position: relative;
}

nav ul a {
    display: block;
    color: black;
    /*padding: 10px;*/
    text-decoration: none;
}
.fa-bars {
    display: none;
    margin-right:10px ;
    padding: 10px;
  }
/*.grid-item-1 {
    display: flex;
    flex-wrap: wrap;
}*/
/********************************************************nav over lay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--second-background-color);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--background-color);
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  /********************************************************drop content*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/********************************************************photo*/
.top-photo {
    background: url(media/AdobeStock_377855570.jpeg)  no-repeat center center/cover;;
    /*background-repeat: no-repeat;
    background-position:cover center;*/
    display: flex;
    flex-direction:column ;
    height:max(40vw ,100vh);
    justify-content:center;
   place-items:center;
   width: max(40vw, 100%); 
}
.grid-item-2 {
    display: grid;
    place-items: center;
}
/********************************************************logos*/
.logo {
   background-image: url(media/logo.jpg);
   background-repeat: no-repeat;
 justify-content: left;
display: flex;
margin-top: 18px;
margin-left:5px;
 height:10vh ;
 display: flex;
}
.footer-logo {
   /*background-image: url(media/Shield\ \(1\)\ \(1\).JPG);
    background-repeat: no-repeat;
    justify-content: left;*/
display:flex;
flex-direction: column;
width:min(50vw, 200px);
/*height: 200px;*/
}
/***********************************************************buttons*/
.apply {
	font-size: 20px;
	color: var(--background-color);
	background-color:var(--button-color);
    flex: 0 1 150px;
    padding: 15px 40px;
    text-decoration: none;
	border: none;
	border-radius: 5px; 
}

.submit {
    padding: 10px;
    background-color: var(--second-button);
    color: var(--background-color);
    border: none;
    flex-direction: column;
    cursor: pointer;
}
/***********************************************************footer*/
footer {
    background-color: var(--second-background-color);
    bottom: 0;
    margin-top: 20rem;
    padding: 10px 10px;
    margin-bottom: -10px;
    margin-left:-8px;
	margin-right: -7px;
    /*display: grid;
    grid-gap: 1rem;
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
}

.top-foot {
 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px 0px 60px;
    border-bottom:var(--underline) ;

}

#newsletter {
   padding: 0 2rem;
}
.news {
    padding: 10px;
    flex-direction: column;
}
.nav-foot {
    display: flex;
}

.nav-foot ul {
    
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0 25px;
    overflow: hidden;
}
.nav-foot li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-foot ul a {
    color: rgb(175, 175, 175);
    text-decoration: none;
}
.about {
  margin-top:-80px;
}
.sub-nav-foot {
    display: block;
}
.sub-nav-foot ul {
    font-size: 14px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.sub-nav-foot  li {
  display: block;
  padding: 12px 0px 12px;
}
.sub-nav-foot ul a{
  color: var(--background-color);
}
.bottom-footer{
  color: var(--background-color);
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
 margin:0px 15px;
}
.icons .fa {
 padding:8px 15px ;
 cursor: pointer;

}
.bottom-footer a {
  color:var(--second-button);
  text-decoration: none;
}
.copy {
  color: var(--background-color);
  display: flex;
  justify-content: center;
}
/**********************************************************media*/
/*@media (max-width: 800px) {
    nav li {
      flex-direction: column;
      text-align: center;
      font-size: 12px;
    }
  }*/
  @media (max-width: 658px) {
  nav li {
    display: none;
  }
  .fa {
    display: block;
    cursor: pointer;
  }
  .about {
margin-top: 0;
  }
  .nav-foot ul {
    flex-direction: column;
    }
    .dropdown:hover .dropdown-content {
      display: none;
    }
}

@media (max-width: 530px) {
  .top-foot {
    justify-content: center;
    display: block;
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
  }
  .news {
    margin-top: 10px;;
  }
}